/*! CSS Used fontfaces */
@font-face {
    font-family: Galano;
    src: url(https://cdn.shopify.com/s/files/1/0159/5552/5686/t/157/assets/08c8ef24676e5d08fe268184dad3d94c.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0159/5552/5686/t/157/assets/83b6999992e8d884835fbb4a24579893.woff) format("woff");
    font-display: swap;
}

@font-face {
    font-family: Gothic CG No1;
    src: url(https://cdn.shopify.com/s/files/1/0159/5552/5686/t/157/assets/e65022047cd36d7d1ceab0aceebdccc9.woff2) format("woff2"), url(https://cdn.shopify.com/s/files/1/0159/5552/5686/t/157/assets/e8997400a9db8bedd2952f18dd0ba611.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

input[type=checkbox]:not(:checked), input[type=checkbox]:checked {
    position: static !important;
    left: 0 !important;
    z-index: 1 !important;
    margin-top: 2px !important;
    padding: 0 !important;
    width: 1em;
    height: 1em;
}

.gallery-app .form-check-input:focus {
    border-color: #ee7623 !important;
    box-shadow: none !important;
}

.gallery-app .form-check-input:checked {
    background-color: #ee7623;
    border-color: #ee7623;
}

.submit-photo-text {
    color: #f9f9f9;
}

.gallery-hero__header-title {
    margin: 15px 0;
    color: #f9f9f9;
}

.gallery-hero-header {
    background: url(https://move-gallery.s3.amazonaws.com/gallery_image_desktop.jpg) no-repeat 50%;
    background-size: cover;
    padding: 80px 0;
    text-align: center;
}

.gallery-hero-footer {
    background: url(https://move-gallery.s3.amazonaws.com/gallery_footer_d.jpg) no-repeat 50%;
    background-size: cover;
    padding: 80px 0;
    text-align: center;
}

@media only screen and (max-width: 600px) {
    .gallery-hero-header {
        background: url(https://move-gallery.s3.amazonaws.com/gallery_mobile.jpg) no-repeat 50%;
    }

    .gallery-hero-footer {
        background: url(https://move-gallery.s3.amazonaws.com/gallery_footer_m.jpg) no-repeat 50%;
    }
}


.gallery-submit-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    width: auto;
    line-height: 1;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: 1px solid transparent;
    border-radius: 0;
    background-color: #ee7623;
    color: #fff;
    font-family: Galano, Helvetica Neue, Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    padding: 13.5px;
    margin-top: 13px;
}

.gallery {
    display: none;
}

.gallery-submit-button:hover {
    background-color: #ee7623;
    color: #fff;
}

.gallery-filters {
    height: 100%
}

.gallery-filters ul {
    padding-left: 0
}

.gallery-filters ul > li {
    margin: 0 0 0 -2px;
}

.g-image {

    height: 100%
}

.g-image img {
    max-width: none;
    float: none;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
}

.gallery .btn-check:active + .btn-success, .gallery .btn-check:checked + .btn-success, .gallery .btn-success.active, .gallery .btn-success:active, .show > .btn-success.dropdown-toggle,
.gallery .btn-success {
    color: #fff;
    background-color: #ee7623;
    border-color: #ee7623;
    box-shadow: none;
    border-radius: 0;
}

.gallery .btn-success:hover, .gallery .btn-success:focus {
    background-color: #f78f49;
    border-color: #f78f49;
    box-shadow: none;
}

.gallery h2 {
    color: #666
}

/* LOADER */
.loader span {
    position: relative;
    color: rgba(0, 0, 0, .3);
    font-size: 2em;
    text-shadow: 2px 7px 5px rgba(0, 0, 0, 0.3),
    0px -4px 10px rgba(255, 255, 255, 0.3);
}

.loader span:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #ee7623;
    -webkit-animation: loading 2s linear;
            animation: loading 2s linear;
}

@-webkit-keyframes loading {
    0% {
        max-width: 0;
    }
}

@keyframes loading {
    0% {
        max-width: 0;
    }
}

.swal2-container {
    z-index: 10000 !important
}

.swal2-html-container {
    justify-content: left !important;
    margin: 10px 20px !important;
    overflow: hidden !important;
}

.swal2-loader {
    border-color: #F27474 transparent #F27474 transparent !important;
}

.swal2-styled.swal2-default-outline:focus {
    box-shadow: none !important;
}

.form-control:focus, .form-select:focus {
    box-shadow: none !important;
    border-color: #ee7623 !important;
}

.input-group-text {
    width: 100px !important;
    font-weight: bold !important;
    color: #666 !important;
}

.fileuploader {
    width: 100%;
    padding: 20px;
    border: 2px dashed #ee7623;
    background: #f6f6f6;
    margin-top: 20px;
}

.fileuploader.active {
    background: #fff;
}

.clickable {
    cursor: pointer
}

.dz-preview {
    display: none;
}

.preview {
    width: 50%;
    background-color: #E0E0E0;
    padding: 10px 30px;
    display: block
}

.progressbar {
    width: 100%;
    background-color: #ee7623;
    height: 4px;
    margin-top: 9px;
}

.progress-delete {
    height: 20px;
    width: 20px;
    background-image: url('data:image/svg+xml;utf8,<svg height="20px" width="20px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="%23F27474"><path fill-rule="evenodd" d="M9 2a1 1 0 00-.894.553L7.382 4H4a1 1 0 000 2v10a2 2 0 002 2h8a2 2 0 002-2V6a1 1 0 100-2h-3.382l-.724-1.447A1 1 0 0011 2H9zM7 8a1 1 0 012 0v6a1 1 0 11-2 0V8zm5-1a1 1 0 00-1 1v6a1 1 0 102 0V8a1 1 0 00-1-1z" clip-rule="evenodd"/></svg>');
    background-repeat: no-repeat;
    background-position: right;
    cursor: pointer;
}

.gallery a {
    color: #a7b7b4;
    font-weight: bold;
}

.gallery a:hover {
    color: #F27474;
}

.gallery-app .page-item.active .page-link {
    background-color: #a7b7b4;
    border-color: #a7b7b4;
}

.gallery-app .page-link {
    color: #a7b7b4;
}

.gallery-app .page-link:hover {
    z-index: 2;
    color: #F27474;
    background-color: #e9ecef;
    border-color: #dee2e6;
}


element.style {
}

.gallery-app .page-item:not(:first-child) .page-link {
    margin-left: -1px;
}

.gallery-app .page-link:focus {

    color: #F27474;
    box-shadow: none;
}

.g-image {
    position: relative;
    cursor: pointer;
}

.g-image .content-overlay {
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: -20px;
    right: 0;
    opacity: 0;
    transition: all 0.4s ease-in-out 0s;
    box-sizing: border-box;
}

.g-image:hover .content-overlay {
    opacity: 1;
}

.content-details {
    position: absolute;
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
    width: 100%;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: all 0.3s ease-in-out 0s;
}

.g-image:hover .content-details {
    top: 50%;
    left: 50%;
    opacity: 1;
}

.content-text {
    color: #fff
}

.gallery-app figure {
    margin: 0;
}

.pswp {
    z-index: 1000000 !important;
}

.pswp__button--arrow--left:before, .pswp__button--arrow--right:before, .pswp__counter, .pswp__button {
    background-color: #ec7732 !important;
}

.no-images {
    border: solid 1px #ec7732;
    padding: 20px;
    margin-top: 15px
}

.no-images h2 {
    color: #ec7732;
    font-size: 42px;
    margin-bottom: 20px;
    margin-top: 0;
}

.no-images h2 span {
    display: block;
    color: #666;
    font-size: 28px;
    text-transform: none;
    letter-spacing: normal;
}

.btn--primary-gallery {
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid #1b1c1c;
    background-color: #1b1c1c;
    color: #fff;
    transition: all .3s ease-in-out;
    transition-property: background-color, color, border-color;
    font-size: 18px !important;
    font-family: Gothic CG No1, Arial Narrow, Arial, sans-serif !important;
    width: 100%;
    padding: 10px 40px;
    letter-spacing: 1px;
    text-transform: uppercase !important;
}

.btn--primary-gallery:active, .btn--primary-gallery:focus, .btn--primary-gallery:hover, .btn:active, .btn:focus, .btn:hover {
    background-color: #ee7623;
    color: #fff;
}

.btn--primary-gallery:focus, .btn--primary-gallery:hover {
    border-color: #3f4141;
    background-color: #3f4141 !important;
}

.btn--primary-gallery:active {
    border-color: #ec7732;
    background-color: #ec7732 !important;
}


.gallery-app select {
    text-transform: uppercase;
}

.btn {
    border-radius: 0 !important;
}

.gallery-app .btn-success:active:focus {
    box-shadow: none;
}

