@tailwind base;
@tailwind components;
@tailwind utilities;
@import '~jquery-ui/themes/base/all.css';

.ui-autocomplete {
    top: 55px !important;
    border-radius: 5px;
}


.ui-state-active, .ui-widget-content .ui-state-active {

    background: #009482;
    border: solid 1px #009482;
}

.swal2-styled.swal2-default-outline:focus {

    box-shadow: none !important;
}

.swal2-loader {
    border-color: #d33 transparent #d33 transparent !important;
}
